@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);

.darken-grey-text {
    color: #2E2E2E;
}
.hm-gradient{
    background-color: rgba(33, 136, 112, 0.301);
    margin-top: 0;
    display: flex;
}
.navbar .dropdown-menu a:hover {
    color: #616161 !important;
}
.darken-grey-text {
    color: #2E2E2E;
}

#congau{
    width: 50px;
}
.input-group{
    margin-left: 30%;
}
.btn{
    margin-left: 20px;
}
.form-outline{
    margin-right: 20px;
}
